.title {
  font-size: 3rem;
}

.text {
  font-size: 1.5rem;
}

.filterContainer {
  display: flex;
  align-items: first baseline;
  gap: 1rem;
}

.container {
  display: flex;
  align-items: baseline;
  column-gap: 2rem;
  row-gap: 0.5rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }

  .text {
    font-size: 1rem;
  }

  .filterContainer {
    width: 100%;
    justify-content: center;
  }

  .filter {
    flex: 1;
  }

  .container {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}