.container {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.container:hover {
  background-color: #f0f0f0;
  transition: all 0.3s;
}

.word {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
